@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: var(--Light-gray);
    height: 100vh;
    font-family: "Outfit";
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: var(--White);
    border-radius: 20px;
    text-align: center;
}
img {
    width: 288px;
    border-radius: 10px;
    margin: 16px 16px 24px 16px;
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.0048em;
    color: var(--Dark-blue);
    max-width: 275px;
}
.text {
    font-size: 15px;
    letter-spacing: 0.013em;
    color: var(--Grayish-blue);
    max-width: 251px;
    margin: 16px 0 40px 0;
}
